@font-face {font-family: 'Donau'; src: url('./asset/font/Donau.ttf')}        
@font-face {font-family: 'Elite'; src: url('./asset/font/SpecialElite-Regular.ttf')}

body{
    display: flex; flex-direction: column; flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    color: #EFE7DE !important;
    font-family: 'Elite' !important;
    background-image: url("./asset/sfondo.jpg"); background-size: 230%;;
}

h1{
    font-family: 'Donau';
    font-size: 28px;
    text-transform: uppercase;
    position: relative;
    top: 5px;
    text-align: center;
}

.glass {
    position: absolute;
    bottom: 5px;
    background: rgba(255,255,255,0.4);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);            
}

.glass legend{
    width:65%;
    padding-right: 10px;
    text-align: right;
    font-family: 'Donau';
    font-size: 18px;
    text-transform: uppercase;
    }

.glass div{
    display: flex;
    margin: auto 20px;
    }

.glass p{
    margin: auto 10px;
    font-size: 12px;
    }

#app{
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#puzzle canvas, .card {
    background-color: #EFE7DE !important;
    border-radius: 10px;
}

.card{
    width: 90%;
    border: auto 5%;
    position: relative;
    display: flex; flex-direction: column; flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 7%;
    color: #2c3e3d;
}
.card p {
    font-size: small;
}

.btn{
    background-color: #2c3e3d !important;
    color: #EFE7DE !important ;
}